### Cleaning the dataset for the following data analysis

##### Import the raw dataset

In [32]:
import numpy as np
import pandas as pd

df = pd.read_csv("vgsales.csv")

##### Get some basic infor about the dataset

In [4]:
# check the headers and first few lines 
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
# check how many lines, columns
df.shape

(16598, 11)

In [38]:
# check the data type of each column
print(df.dtypes)

Rank              int64
Name             object
Platform         object
Year              int32
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

### Identify Misclassifications

In [10]:
# validate Platform column
platform_group= df.groupby('Platform').size().reset_index(name="Count")
print(platform_group)

   Platform  Count
0      2600    133
1       3DO      3
2       3DS    509
3        DC     52
4        DS   2163
5        GB     98
6       GBA    822
7        GC    556
8       GEN     27
9        GG      1
10      N64    319
11      NES     98
12       NG     12
13       PC    960
14     PCFX      1
15       PS   1196
16      PS2   2161
17      PS3   1329
18      PS4    336
19      PSP   1213
20      PSV    413
21      SAT    173
22      SCD      6
23     SNES    239
24     TG16      2
25       WS      6
26      Wii   1325
27     WiiU    143
28     X360   1265
29       XB    824
30     XOne    213

In [14]:
# validate Genre column
genre_group= df.groupby('Genre').size().reset_index(name="Count")
print(genre_group)

           Genre  Count
0         Action   3316
1      Adventure   1286
2       Fighting    848
3           Misc   1739
4       Platform    886
5         Puzzle    582
6         Racing   1249
7   Role-Playing   1488
8        Shooter   1310
9     Simulation    867
10        Sports   2346
11      Strategy    681

In [15]:
# validate Publisher column
publisher_group= df.groupby('Publisher').size().reset_index(name="Count")
publisher_group = publisher_group.sort_values("Count", ascending=False)
print(publisher_group)

                        Publisher  Count
138               Electronic Arts   1351
21                     Activision    975
347            Namco Bandai Games    932
525                       Ubisoft    921
275  Konami Digital Entertainment    832
..                            ...    ...
403                     Playmates      1
404                      Playmore      1
405                        Plenty      1
406                   Pony Canyon      1
435                  SCS Software      1

[578 rows x 2 columns]

In [39]:
# validate Year column
year_group= df.groupby('Year').size().reset_index(name="Count")
year_group= year_group.sort_values("Year", ascending=False)
print(year_group)

    Year  Count
36  2016    342
35  2015    614
34  2014    580
33  2013    546
32  2012    655
31  2011   1136
30  2010   1257
29  2009   1431
28  2008   1428
27  2007   1201
26  2006   1008
25  2005    936
24  2004    744
23  2003    775
22  2002    829
21  2001    482
20  2000    349
19  1999    338
18  1998    379
17  1997    289
16  1996    263
15  1995    219
14  1994    121
13  1993     60
12  1992     43
11  1991     41
10  1990     16
9   1989     17
8   1988     15
7   1987     16
6   1986     21
5   1985     14
4   1984     14
3   1983     17
2   1982     36
1   1981     46
0   1980      9

In [33]:
# delete rows with year 2017 and 2020
df = df[~df["Year"].isin([2017, 2020])]

### Handling Missing data

In [36]:
# check for missing or N/A values for each column
missing_values = df.isnull().sum()
print(missing_values)

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [35]:
# delete entire rows if any record on the row is missing
df.dropna(inplace=True)

### Change data type

In [37]:
# Change Year column to integer
df["Year"] = df["Year"].astype(int)

### Check duplicate rows

In [42]:
duplicates = df.duplicated().sum()
print(duplicates)

0

### Export the cleaned dataset to CVS file

In [43]:
df.to_csv("clean_vgsales.csv", index=False)